form(class='form-container', method='post', action='/users')
  div#form-title
    h2 Sign Up
  div#form-title Email
    input(type='text', name='user[email]', class='form-field')
  div#form-title Password
    input(type='password', name='user[password]', class='form-field')
  div#submit-container
    input(type='submit', Value='Submit', class='submit-button')
